.skilsSection {
  padding: 0 30px;
  max-width: var(--maxWidth);
  margin-bottom: 50px;
}

.title {
  text-align: center;
  line-height: 100px;
  margin-bottom: 30px;
  font-size: 52px;
  color: var(--textColor);
  margin: 0;
  line-height: 52px;
}

.skilsRow {
  flex-wrap: wrap;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.skilsCol {
  /* border: 1px solid #E0E0E0; */
  /* background-color: #24195E; */
  /* transform: rotate3d(1, 1, 0, 0deg); */
  flex: 2 2 auto;
  margin: 7px 15px;
  border-radius: 15px;
  min-width: 210px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.skilsCol:hover {
  transform: rotate3d(2, 1, 0, 15deg);
}

.skilCol_title {
  text-align: center;
  margin: 7px 0 15px 0;
}

.listSkils {
  display: flex;
  flex-direction: column;
}
.listSkils > li {
  list-style-type: none;
  /* opacity: .7; */
  color: var(--blueTextColor);
  margin: 5px;
  line-height: 1.2rem;
  width: 100%;
  white-space: nowrap;
}

.lottieContainer {
  max-width: 700px;
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 48px;
    line-height: 42px;
  }
}

@media screen and (max-width: 715px) {
  .title {
    font-size: 36px;
    line-height: 30px;
  }
  .skilSection {
    padding: 0 20px;
  }
}

@media screen and (max-width: 580px) {
  .skilsSection {
    padding: 0 10px;
  }
}
