.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentSize {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--maxWidth);

}
.headerImg {
  cursor: pointer;
  width: 50px;
}
.desktop {
  display: block;
}
.burger {

  display: none;
}
.burger_item, .burger_item::after, .burger_item::before {
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: var(--textColor);
  transition: transform 0.5s;
}
.burger_item {
  top: 50%;
}
.burger_item::before, .burger_item::after {
  content: '';
}
.burger_item::before {
  transform: translateY(7px)
}
.burger_item::after {
  transform: translateY(-7px)
}
.burger_item.active {
  height: 0;
}
.burger_item.active:after {
  transform: rotate(45deg)
}
.burger_item.active:before {
  transform: rotate(-45deg)
}

 @media screen and (max-width: 850px) {
  
}
@media screen and (max-width: 715px) {
 .contentSize {
  padding: 15px;
 }
} 
@media screen and (max-width: 580px) {
  .desktop {
    display: none;
  }
  .headerImg {
    width: 35px;
  }
  .contentSize {
    padding: 10px;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 25px;
    opacity: .7;
  }
}
