.button {
  font-family: "Manrope", sans-serif;
  border-radius: 28px;
  background: var(--purpleColor);
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  color: var(--textColor);
}
a {
  text-decoration: none;
}
.btnIcon {
  width: 22px;
  margin-left: 15px;
}
.pressed {
  background: var(--purpleColor);
}
.hover {
  background: var(--orangeColor);
}
.hover:hover img {
  animation: arrowMoving 0.3s ease-in-out infinite;
}

@keyframes arrowMoving {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 715px) {
  .button {
    font-size: 18px;
    padding: 7px 16px;
  }
  .btnIcon {
    width: 18px;
  }
}

@media screen and (max-width: 580px) {
  .button {
    font-size: 16px;
  }
  .btnIcon {
    width: 16px;
    margin-left: 7px;
  }
}
