.button {
  font-family: "Manrope", sans-serif;
   border-radius: 28px;
   background: var(--orangeColor);
   margin-top: 40px;
   padding: 10px 20px;
   font-size: 20px;
   display: flex;
   align-items: center;
   white-space: nowrap;
   transition: all .3s ease-in-out;
}
a {
 text-decoration: none;
}
.btnIcon {
 width: 28px;
 margin-left: 15px;
}
.button:hover {
 background: var(--purpleColor);
 letter-spacing: .1em;
}

@media screen and (max-width: 715px) {
  .button {
    font-size: 18px;
    padding: 7px 16px;
  }
  .btnIcon {
    width: 18px;
  }
}

@media screen and (max-width: 580px) {
  .button {
    font-size: 16px;
    padding: 5px 10px;
  }
  .btnIcon {
    width: 16px;
  } 
}