.home {
  overflow-y: auto;
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 50px);
  /* transform: translateY(-100%) !important; */
  margin-bottom: 50px;
}

.notLockedApp {
  height: 100%;
}

.col_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 30px;
  font-size: 52px;
  line-height: 52px;
  font-family: "Archivo Black", sans-serif;
}
.description {
  margin-top: 40px;
  font-size: 22px;
  color: var(--blueTextColor);
  line-height: 27px;
  font-family: "Manrope", sans-serif;
}
.catchPhone_btn {
  font-family: "Manrope", sans-serif;
  border-radius: 28px;
  background: var(--orangeColor);
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 20px;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
}
.catchPhone_img {
  width: 20px;
  margin-left: 10px;
}
.catchPhone_btn:hover {
  background: var(--purpleColor);
  /* letter-spacing: .1em; */
}
.catchPhone_btn:hover>img {
  animation: arrowMoving .3s ease-in-out infinite;

}
@keyframes arrowMoving {
  0% {transform: translateX(0)}
  50% {transform: translateX(2px)}
  100% {transform: translateX(0px)}
}

#lottie {
  max-width: 100%;
}
.contentAlign {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col_lottie {
  min-width: 40%;
  margin-left: 20px;
  max-width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.lottieContainer {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.transparentButtonsRow {
  position: absolute;
  bottom: 25%;
  left: 15%;
  right: 15%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.animation_btn {
  color: transparent;
  background-color: transparent;
  font-size: 80%;
  width: 100px;
  text-align: center;
}
.web_btn {
  color: transparent;
  background-color: transparent;
  font-size: 80%;
  text-align: center;
  width: 100px;
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 48px;
    line-height: 52px;
  }
  .description {
    margin-top: 32px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 715px) {
  .home {
    padding: 20px;
    margin-top: 54px;
  }
  .title {
    font-size: 36px;
    line-height: 38px;
  }
  .description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  .catchPhone_btn {
    margin-top: 25px;
    font-size: 18px;
    padding: 7px 16px;
  }
  .catchPhone_img {
    width: 18px;
  }
}
@media screen and (max-width: 580px) {
  .home {
    padding: 10px;
  }
  .title {
    font-size: 36px;
    line-height: 38px;
  }
  .col_text {
    max-width: 400px;
  }
  .description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  .catchPhone_btn {
    margin-top: 25px;
    font-size: 14px;
    padding: 7px 12px;
  }
  .catchPhone_img {
    width: 16px;
  }
 .contentAlign {
  flex-direction: column;
  justify-content: start;
 }
}