.home {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 50px);
  /* transform: translateY(-100%) !important; */
}

.col_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 30px;
  font-size: 52px;
  line-height: 52px;
  font-family: "Archivo Black", sans-serif;
}
.description {
  margin-top: 40px;
  font-size: 22px;
  color: var(--blueTextColor);
  line-height: 27px;
  font-family: "Manrope", sans-serif;
}
.catchPhone_btn {
  font-family: "Manrope", sans-serif;
  border-radius: 28px;
  background: var(--orangeColor);
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 20px;
}

#lottie {
  max-width: 100%;
}
.contentAlign {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col_lottie {
  min-width: 40%;
  margin-left: 20px;
  /* margin-bottom: 45px; */
  max-width: 100%;
  min-height: 200px;
  /* max-height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.lottieContainer {
  /* margin-bottom: 50px; */
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.transparentButtonsRow {
  position: absolute;
  bottom: 25%;
  left: 15%;
  right: 15%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.animation_btn {
  color: transparent;
  background-color: transparent;
  font-size: 80%;
  width: 100px;
  text-align: center;
}
.web_btn {
  color: transparent;
  background-color: transparent;
  font-size: 80%;
  text-align: center;
  width: 100px;
}