:root {
  --bgColor: #040c18;
  --orangeColor: #ff4820;
  --purpleColor: #7E57C2;
  --textColor: rgb(241, 241, 241);
  --blueTextColor: #81afdd;
  --grayDark: #757575;
  --maxWidth: 1200px;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  overflow-y: scroll;
  overflow-x: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Archivo Black", sans-serif;
}

.btn {
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  border-radius: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
